@use "../index" as cssIndex;

.listContainer {
  display: flex;
  flex-direction: row;

  .songList {
    border: 1px gray solid;
    padding: 5px;
    width: 33%;
    min-width: 320px;
    max-width: 420px;

    .list {
      border: 1px green solid;
      display: flex;
      flex-direction: column;
      height: 80vh;

      .listRow {
        margin: 2px;
        border: 1px red solid;
      }
    }
  }
}

.title {
  color: cssIndex.$clrHighlight;
  font-size: 16px;
  font-family: Ember, Helvetica, Arial, "sans-serif";
  font-weight: bold;
  padding: 10px 0;
}