.songRow {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #171010;
  border-radius: 10px;
  margin: 5px;
  height: 100px;
  justify-content: space-between;

  &:hover {
    background-color: rgba(100, 100, 100, 0.4);
    transition: ease-in-out 0.3s;
  }

  &_Index {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    font-size: 20px;
  }

  &_Image {
    display: flex;
    align-items: center;
  }


  &_Content {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    justify-content: space-between;

    &_Title {
      display: flex;
      flex-direction: column;
      text-align: start;
      width: 150px;
      padding-top: 10px;

      &_Name {
        font-size: 16px;
        font-weight: 600;
      }

      &_Artist {
        font-size: 12px;
        color: #787a91;
      }
    }

    &_Info {
      display: flex;
      flex-direction: row;
      &_Album {
        padding: 0 5px;
      }
      &_Length {
        padding: 0 5px;
      }
    }


  }


  &_Button {
    display: flex;
    flex-direction: column;
  }
}